<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        NodePop
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <% include components/navbar %>
    <main class="container">
        <div class="row mt-3 justify-content-center">
            <section class="create-advertisement">
                <h1><%= __('Insert a new advertisement') %></h1>
                <div class="mt-5">
                    <% include components/advertisementform %>
                </div>
            </section>
        </div>
    </main>
    <% include components/footer %>
    <script src="js/main.js"></script>
</body>

</html>