<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= __('Unauthorized') %>
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <% include components/navbar %>
    <main class="container">
        <div class="row mt-3 justify-content-center">
            <section class="col-xs-12">
                <div class="alert alert-danger error-message">
                    <h1><%= __('Unauthorized'); %></h1>
                    <p class="preserve-lines"><%= __('Not allowed to access this page.'); %><br>
                </div>
            </section>
        </div>
    </main>
    <% include components/footer %>
    <script src="js/main.js"></script>
</body>

</html>
