.ui-status {
    display: none;
}

@mixin ui-status {
    &.loading .ui-status.loading {
        display: block;
    }
    &.empty .ui-status.empty {
        display: block;
    }
    &.error .ui-status.error {
        display: block;
    }
    &.loaded .ui-status.loaded {
        display: block;
    }
}